.about {
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  align-items: center;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  position: relative;
}

.label {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: center;
}

.label-thumb {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
